---
name: 'deploy'

on:
  push:
    branches:
      - newbook
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@apps.cakephp.org:22/book-vitepress'
          branch: 'newbook'
          git_push_flags: '-f'
          ssh_private_key: ${{ secrets.DOKKU_SSH_PRIVATE_KEY }}
